.container {
    height: 600px;
}

* {
    margin: 0;
    padding: 0;
}

.picture {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 105px;
    @media (max-width: 500px) {
        width: 100px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 700px;
    margin-right: 50px;
    margin-top: -500px;
}

.title {
    margin-bottom: 20px;
    @media (max-width: 500px) {
        width: 100px;
    }
}

.price {
    margin-bottom: 20px;
    @media (max-width: 500px) {
        width: 100px;
    }
}

.desc {
    margin-bottom: 20px;
    @media (max-width: 500px) {
        font-size: 100px;
    }
}
